*{
	margin: 0;
}
html, body{
	height: 100%;
	background-image: linear-gradient(to right, #2980B9, #6DD5FA, #91EAE4);
}
.main{
	height: 100%;
}
.title{
	text-align: center;
	color: #fff;
	font-family: arial, sans-serif;
	font-size: 60px;
	font-weight: lighter;
}
b{
	color: lime;
}
.form{
	height: 100%;
	width: 300px;
	padding: 0px 10px;
	background: rgba(0,0,0,0.2);
	padding-top: 15%;
	box-sizing: border-box;
	position: absolute;
	margin-left: 5%;
	background-size: cover;
	background-repeat: repeat;
}
.form label{
	margin: 0px;
}
.form input[type=username], input[type=password]{
	display: grid;
	width: 100%;
	padding: 19px;
	margin-top: 40px;
	box-sizing: border-box;
	border: none;
	color: #0099ff;
	font-weight: bold;
	font-size: 15px;
	outline: none;
	border-radius: 7px;
}
.form input[type=submit]{
	display: grid;
	width: 100%;
	padding: 10px;
	margin-top: 30px;
	box-sizing: border-box;
	background-color: #0099ff;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-color: #33adff;
	outline: #fff;
	border-radius: 5px;
}
.side{
	padding: 20% 10px 0px 0px;
	font-size: 20px;
	position: relative;
	width: 60%;
	float: right;
}
.clr-black{
	color: #000;
}
.sub{
	font-size: 70px;
	text-align: center;
	font-variant: small-caps;
	font-family: arial;
	color: #fff;
}
.txt-shadow{
	text-shadow: 10px 10px 10px rgba(0,0,0,.30);
}
.smooth{
	transition: 1s
}
.copy{
	font-size: 12px;
	color: #fff;
}
.middle{
	text-align: center;
	font-weight: lighter;
	font-family: calibri, sans-serif;
}
.p-top{
	padding-top: 20px;
}
.slogan{
	font-size: 15px;
	color: #fff;
}
.warning{
	background-color: #49a09d;
	color: #fff;
	padding: 4px;
	font-weight: bold;
	text-align: center;
}
@media screen and (min-width: 900px){
	.form{
		height: 100%;
		transition: 1s;
		margin-left: 0%
		padding-top: 10%;
	}
}
@media screen and (max-width: 950px){
	.side{
		display: none;
	}
	.main{
		clear: both;
	}
	.form{
		width: 100%;
		transition: 1s;
		padding-top: 20%;
		margin-left: 0%;
		height: 100%;
		background-color: transparent;
	}
}